#terminal {
	max-width:600px;
	min-width:600px;
	max-height:300px;
	min-height:350px;
	overflow: auto;
	padding: 5px;	
	border: 1px solid rgba(170,170,170, 0.35);
	border-top: 25px solid rgb(210,210,210);
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: left;
	text-align: left;
	margin: 10px;
    font-family: monospace;
    font-size: 16px;
	color: #22da26;
	box-shadow: 0 5px 8px rgba(0,0,0,0.4);
}

#terminal span{
	font-family: monospace;
    color: #aaa;
}
.invisibleInput{
	padding-left: 10px;
	color: #aaa;
	width:98%;
	border: 0px;
	background: 0;
}
input:focus{
    outline: none;
}

.btnTerminal{
	position: absolute;
	margin-top: 4px;
	padding: 9px;
	border-radius: 100%;
	cursor: pointer;
}
.toggleTerminal{
	background: red;
}
.expandTerminal{
	background: green;
	margin-left: 25px;
}
#terminalheader{
	margin-bottom: -10px;
	margin-left: 15px;
}